<div class="digital_wall_form" id="digital_wall_form">
  <div id="popup" class="overlay">
    <div class="popup-info">
      <button type="button" onclick="closeFunction();" class="close" id="location_close_btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M21 12C21 7.03125 16.9688 3 12 3C7.03125 3 3 7.03125 3 12C3 16.9688 7.03125 21 12 21C16.9688 21 21 16.9688 21 12Z" fill="#FFF0D9"/>
          <path d="M15 15L9 9M9 15L15 9" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <div style="margin:0 auto;" class="pxFormGenerator" id="4aVUfVBOs9iZ9J48HPsmjQ"></div>
    </div>
  </div>
</div>
<style>
      .digital_wall_form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      position: fixed;
      z-index: 10000;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
  }
     .digital_wall_form .overlay .popup-info{
        width:40%;
       padding:0;
       background:transparent;
      }
      @media (min-width: 768px) and (max-width: 1023px) {
    .digital_wall_form .overlay .popup-info {
      width: 60%;
    }
  }
      @media(max-width:767px){
          .digital_wall_form .overlay .popup-info {
            width: 100%;
            background:#fff;
            border-radius:0;
            top: 5%;
      bottom: unset;
          }
        }
      .download_catalogue_btn{
        text-align:center;
            margin-bottom: 50px;
      margin-top: 20px;
      }
      .btn-gift-studio-default{
            padding: 10px 30px;
      font-size: 16px;
      text-transform: capitalize;
      }
</style>
<script>
  document.getElementById('digital_wall_form').style.display = 'none';
  function digitalWall() {
      document.getElementById('digital_wall_form').style.display = 'flex';
  }

    function closeFunction() {
      document.getElementById('digital_wall_form').style.display = 'none';
  }
</script>
