<div class="locationsDropdown"></div>
    
      <div class="select_city_sec" onClick="changeCity()">
      
          <div class="city_change">
            {% render 'location-pin' %}
            <div class="city_name"></div>            
          </div>
      <div class="change_city" >{% render 'down_arrow' %}</div>
    </div>