

.delivery_button_wrapper {
    display: flex;
    padding-right: 10px;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}

.select_delivery_type {
    text-align: left;
    width: 33%;
    padding-left: 5px;
    margin: 0;
}

.delivery_option {
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    
    font-family: 'CeraProMedium';
    text-align: center;
}
.button_wrapp {
    width: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button_wrapp div {
   padding: 7px 24px;
    border: 1px solid #000;
/*     margin-top: 20px; */
    text-align: center;
    cursor: pointer;
}
span.error_msg {
    text-align: left;
   width: 35rem;
    padding-left: 0;
    margin: 0;
  color:red;
}
.button_wrapp div  a:not([href]) {
    cursor: pointer;
    font-size:14px;
}
#CartDrawer-CartItems .cart-item.express-delivery {
  display:none;
}
.cart_delivery_date {
    display: flex;
    justify-content: flex-end;
/*     margin-top: 20px; */
    flex-direction:column;
  align-items: flex-end;
}
.delivery_label {
    text-align: left;
     width: 35rem;
    padding: 10px 0;
    margin-right: 10px;
}
.input_container.date_sec {
    width: 35rem;
    display: flex;
    /* padding: 4px; */
    background: #F4F4F4;
    border-radius: 6px;
    margin-right: 10px;
    position: relative;
    align-items: center;
    /* width: 18px; */
    height: 30px;
}
.error_message_ctm {
    text-align: left;
    padding-top: 10px;
    padding-right: 10px;
    /* padding: 10px 0; */
    display: flex;
    justify-content: flex-end;
    display:none;
}

input#delivery_date1 {
    border: none;
    background: #F4F4F4;
    padding-left: 40px;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 30px;
}
input#delivery_date1[disabled="true"] {
    cursor: not-allowed;
}
.ui-widget-header{
        border: 1px solid #000 !important;
    background: #000 !important;
  }
  .ui-state-default, .ui-widget-content .ui-state-default{
    color:#000;
  }

  .ui-state-hover, .ui-widget-content .ui-state-hover{
    color: #000;
    background: transparent;
    border: 1px solid #000;
  }

  .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
    background:#fff;
  }
  .ui-datepicker .ui-icon{
    background-position: -10px -10px !important;
        cursor: pointer;
  }
  .ui-datepicker .ui-datepicker-prev .ui-icon{
    background-image:url('https://cdn.shopify.com/s/files/1/0689/3014/2515/files/left-arrow.png?v=1679685654') !important;    
  }

  .ui-datepicker .ui-datepicker-next .ui-icon{
    background-image:url('https://cdn.shopify.com/s/files/1/0689/3014/2515/files/right-arrow.png?v=1679685654') !important;
  }
.line-item-property__field {
    width: 100%;
}
.ui-widget-header {
    border: 1px solid #000 !important;
    background: #000 !important;
    color:#fff !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{
    border: 1px solid #000 !important;
    background: #ddd !important;
    color: #000 !important;
    /* text-align: center; */
    font-weight: 600 !important;
}
ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
 
    background: #fff !important;
    font-weight: 600 !important;
    color: #000 !important;
}
.ui-widget-content{
  background: #f3f3f3 !important;
}
.ui-state-active, .ui-widget-content .ui-state-active{
border: 1px solid #000 !important;
}
.expressDelivery{
  display:none;
}
.delivery_button_wrapper{
  display:none;
}
 #ui-datepicker-div{
    width: 22% !important;
   height: fit-content;
/*     display: block !important; */
}
/* .ui-datepicker {
  position: absolute;
  bottom: 0;
}
 #ui-datepicker-div{
    position: absolute;
    left: 987.5px;
   top:inherit !important;
    bottom: -9% !important;
    z-index: 2;
    display: block !important;
    width: 22% !important;
   height: fit-content;
}
#main-cart-footer {
    margin-top: 260px;
}  */
/* #ui-datepicker-div{
  display:block !important;
} */
.delivery_button_wrapper{
  display:none;
}
@media (max-width: 767px) {
  .delivery_label {
    width: 100%;
}

.input_container.date_sec{
      width: 100%;
}
  #ui-datepicker-div {
    width: 93%!important;
    left: 15px !important;
}
  .totals {
    justify-content: space-between !important;
}
  .cart_delivery_date {
    display: block;
  }
  span.error_msg {
    text-align: left;
    width: 100%;
    padding-left: 0;
    margin: 0;
}
  .delivery_button_wrapper{
  display:none;
}
}
