.subtitle_sec {
  text-align: center;
}
.decor_line {
  width: 23%;
  margin: 15px auto;
}

.diwali_collections .category_inner_sec .category_sec img {
  width: 230px !important;
  border-radius: 100%;
  padding: 10px;
}

.diwali_collections .category_section .title-wrapper-with-link {
  margin: 0rem 0 5rem;
}
.page-diwali-special .limited_edition_section {
  background: url("https://cdn.shopify.com/s/files/1/0689/3014/2515/files/Diwali_Special.png?v=1697115755");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  border-radius: 0;
  position: relative;
}

.page-diwali-special .category_section .title-wrapper-with-link {
  margin: 0rem 0 5rem !important;
}

.page-diwali-special .limited_edition_section:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 6, 53, 0.5);
}

.page-diwali-special .category_section {
  background: url("https://cdn.shopify.com/s/files/1/0689/3014/2515/files/Price_Range.png?v=1697183431");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 0;
  position: relative;
}

.diwali_collections .title-wrapper-with-link h2 {
  margin-top: 35px;
}

.diwali_multirow .image-with-text__text--caption {
  text-transform: none;
  font-size: 17px;
  letter-spacing: 1px;
  color: #000;
}

.diwali_multirow .image-with-text__content a {
  border-radius: 30px;
  font-weight: 400;
}

.diwali_multirow .image-with-text__content a:after {
  border-radius: 30px;
}

.multirow_btn_sec {
  width: 100%;
  text-align: center !important;
}

.page-diwali-special .best_sellers .title-wrapper-with-link {
  margin: 0;
  flex-direction: column;
}

/* .diwali_slider .prev-arrow {
  left: 0;
  bottom: unset;
  left: -30px;
  top: 50%;
} */
.diwali_slider .next-arrow {
  right: -30px;
  bottom: unset;
  top: 50%;
}
@media screen and (min-width: 750px) {
  .diwali_multirow .multirow__inner {
    row-gap: 80px;
  }
  .page-diwali-special .limited_edition_section .multicolumn-card__info .rte {
    height: 125px;
  }
}

@media (max-width: 767px) {
  .decor_line {
    width: 60%;
  }

  .page-diwali-special slideshow-component {
    margin-top: 15px;
  }

  .diwali_banner {
    height: 240px !important;
  }
  .diwali_collections .title-wrapper-with-link {
    margin: 0rem 0 1rem !important;
  }
  .diwali_collections .category_inner_sec {
    column-gap: 0px !important;
  }
  .diwali_collections .grid--2-col-tablet-down .grid__item {
    width: calc(25% - var(--grid-mobile-horizontal-spacing) / 2) !important;
  }
  .diwali_collections .category_inner_sec .category_sec img {
    width: 130px !important;
    padding: 0px !important;
  }
  .page-diwali-special .best_sellers .tab_new_popular nav ul {
    justify-content: center;
  }
  .diwali_slider .next-arrow {
    right: unset;
    bottom: unset;
    left: -30px;
    top: 50%;
  }
  /* .diwali_slider .prev-arrow {
    left: 0;
    top: unset;
    bottom: -25px;
  } */
  .page-diwali-special .category_section .title-wrapper-with-link h2 {
    margin-top: 25px;
  }
}
