.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(
      2rem + var(--page-width-margin)
    ); /*margin-top: calc(5rem + var(--page-width-margin));*/
  }
}

.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.article-template__hero-small {
  height: 21rem; /*11rem;*/
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 35rem; /*22rem;*/
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 38rem; /*27.5rem;*/
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 5rem;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}



.table-of-contents-container {
  width:500px;
  border: 1px solid rgba(var(--color-foreground), 0.1);
  background-color: rgb(var(--color-background));
  padding: 2rem;
  border-radius: 4px;
}

.table-of-contents-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.table-of-contents-title {
  font-size: 1.8rem;
  margin: 0;
  font-family: var(--font-heading-family);
  color: rgb(var(--color-foreground));
  font-weight:700 !important;
}

.table-of-contents-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-foreground));
  transition: transform 0.3s ease;
}

.table-of-contents-toggle:hover {
  opacity: 0.7;
}

.table-of-contents-toggle .icon {
  width: 18px;
  height: 16px;
}

.table-of-contents-nav {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.table-of-contents-nav--collapsed {
  max-height: 0;
  opacity: 0;
  margin: 0;
}

.table-of-contents-list {
  font-weight:100;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left:10px;
}


.table-of-contents-item:last-child {
  margin-bottom: 0;
}

.table-of-contents-link {
  color: rgb(var(--color-foreground));
  text-decoration: none;
  display: block;
  padding: 0.4rem 0;
  transition: color 0.2s ease, padding-left 0.2s ease;
  font-size: 1.4rem;
  line-height: 1.5;
  word-wrap: break-word;
}

.table-of-contents-link:hover {
  color: rgba(var(--color-foreground), 0.7);
  text-decoration: underline;
}

.table-of-contents-item--level-2 .table-of-contents-link {
  padding-left: 0;
}

.table-of-contents-item--level-3 .table-of-contents-link {
  padding-left: 1.5rem;
}

.table-of-contents-item--level-4 .table-of-contents-link {
  padding-left: 3rem;
}

.table-of-contents-item--level-5 .table-of-contents-link {
  padding-left: 4.5rem;
}

.table-of-contents-item--level-6 .table-of-contents-link {
  padding-left: 6rem;
}

@media screen and (min-width: 750px) {
  .table-of-contents-container {
    padding: 2.5rem;
  }

  .table-of-contents-title {
    font-size: 2rem;
  }

  .table-of-contents-link {
    font-size: 1.5rem;
  }
}